import React from 'react';
import './{{pascalCase name}}.scss';

type {{pascalCase name}}Props = {};

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({}) => {
  return (
    <div className="{{kebabCase name}}">
      {{pascalCase name}} component
    </div>
  );
};
